@import url('https://fonts.googleapis.com/css?family=PT+Sans|Russo+One');

*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100%;
  font-family: "RussoOne", sans-serif;
}

a{
  color: #0078D7;
  text-decoration: none;
  transition: 0.3s ease;
}

a:hover{
  color: #666;
  text-decoration: none;
}

header{
  width: 100%;
  height: 33px;
  background-color: #0078D7;
  margin-bottom: 10px;
}

div{
  float: left;
  width: 100%;
}

.LeftCol{
  margin-left: 50px;
  width: 400px;
  background-color: #fff;
  height: 500px;
}

.LeftCol>h3{
  font-weight: 100;
  font-size: 2em;
}

.LeftCol>.ava>img{
  width: 200px;
  border-radius: 50%;
}

.LeftCol>.info>div>h3{
  font-size: 2em;
}

.LeftCol>.info>div>h4{
  font-size: 1.2em;
  padding-top: 10px;
  color:#999;
}

.LeftCol>.instruction>h5{
  font-weight: 100;
  padding-top: 30px;
  width: 400px;
}


.RightCol{
  width:350px;
  height: 500px;
  background-color: #fff;
}

.RightCol>h3{
  font-weight: 100;
  font-size: 2em;
}

.RightCol>.set>.btn>i{
  font-size: 1.5em;

}

.RightCol>.set>.btn{
  width: 95%;
  height: 40px;
  padding-top: 10px;
  padding-left: 5%;
  background-color: #fff;
  font-size: 1.2em;
  -webkit-user-select:none;
  cursor: pointer;
}

.RightCol>.set>.btn:hover{
  background-color: #E6E6E6;
}

.RightCol>.set>.btn:active{
background-color: #CCCCCC;
font-size: 1.1em;
color:#0078D7;
}

.news>.LeftCol{
  width: 1000px;
}

.main>.LeftCol{
  width: 850px;
  text-align: center;
}

b{
  color: #0078D7;
}

.main>.LeftCol>h3{
  margin-top: 20px;
}

.menu{
  width: 250px;
  height:500px;
  background-color:#fff;
}
.content{
  width: calc(100% - 250px);
  background-color: #fff;
  height:500px;
}

.block{
  max-width: 230px;
  height: 250px;
  border: 1px solid silver;
  border-radius: 5px;
  margin-top: 70px;
  margin-left: 50px;
}

.block>img{
  width: 230px;
  height: 150px;
  border-radius: 5px 5px 0 0;
}

li{
  width: 100%;
  height: 40px;
  font-size: 1.2em;
  padding-top: 15px;
  padding-left: 10px;
  -webkit-user-select: none;
  cursor: pointer;
}

li:hover{
  background-color: #E6E6E6;
}

li:active{
  background-color: #CCCCCC;
  font-size: 1.1em;
  color:#0078D7;
}


.slider {
 z-index: 9;
 width: 700px;
 height: 290px;
 overflow: hidden;
 margin: 0 0 7px;
 position: relative;
 top:50px;
 border-radius: 10px;
 left:100px;
 }
 .slider ul,
 .slider li {
 padding: 0;
 margin: 0;
 list-style-type: none;
 }
 .slider ul {
 width: 9999px;
 }
 .slider ul li {
 list-style-type: none;
 float: left;
 width: 700px;
 height: 290px;
 }
 .slider .nav {
 position: absolute;
 left: 15px;
 bottom: 12px;
 }
 .slider .nav span {
 opacity: 0.9;
 background: #fff;
 margin: 0 8px 0 0;
 width: 16px;
 height: 16px;
 border-radius: 8px;
 cursor: pointer;
 overflow: hidden;
 display: block;
 float: left;
 box-shadow: 0 1px 2px #000;
 }
 .slider .nav span.on {
 background: #0078D7;
 }


 .slct {
 	display: block;
 	border-radius: 5px;
 	border: 1px solid #cecece;
 	background-color: #F6F6f6;
 	width: 285px;
 	padding: 4px 15px 4px 10px;
 	color: #444;
 	background-position: 290px -145px;

 	/*
 		Супер финт обрезаем текст
 		чтобы не вылезал за рамку
 	*/
 	overflow: hidden;
 	white-space:nowrap;
 	text-overflow: ellipsis;
 	-o-text-overflow: ellipsis;

 }
 .slct.active {
 	border-radius: 5px 5px 0 0;
 	border-bottom: none;
 }
 .drop {
 	margin: 0;
 	padding: 0;
 	width: 310px;
 	border: 1px solid #cecece;
 	border-top: none;
 	display: none;
 	position: absolute;
 	background: #fff;
 }
 .drop li {
 	list-style: none;
 	border-top: 1px dotted #e8e8e8;
 	cursor: pointer;
 	display: block;
 	color: #444;
 	padding: 4px -1px 4px 25px;
 	background-position: 10px -119px;
 }
 .drop li:hover {
 	background-color: #e8e8e8;
 	color: #222;
 }


@media (min-width: 1200px) {
  .news>.LeftCol{
    width: 90%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main>.LeftCol{
    width: 650px;
    text-align: center;
  }

  .slider{
    width: 600px;
    left: 75px;
  }

  .news>.LeftCol{
    width: 90%;
  }

  .RightCol{
    width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main>.LeftCol{
    width: 450px;
    text-align: center;
  }

  .slider{
    width: 450px;
    left: 1px;
  }

  .news>.LeftCol{
    width: 90%;
  }

  .news>.LeftCol>.block{
    width: 180px;
    height: 230px;
    font-size: 0.8em;
  }
   .news>.LeftCol>.block>img{
     width: 180px;
   }

   .RightCol{
     margin-left: 50px;
   }
}

@media (max-width: 767px) {
  .menu{
    visibility: hidden;
  }

  .main>.LeftCol{
    position: absolute;
    width: 100%;
    right: 80px;
    text-align: center;
  }

  .slider{
    width: 85%;
    left: 135px;
  }

  .news>.LeftCol{
    position: relative;
    width: 564px;
    right: 292px;
  }

  .LeftCol{
    position: relative;
    right: 250px;
  }

  .RightCol{
    position: relative;
    width: 340px;
    right: 200px;
  }
}

@media (max-width: 480px) {
  .main>.LeftCol{
    position: absolute;
    width: 100%;
    right: 20px;
    text-align: center;
  }

  .slider{
    width: 85%;
    left: 10px;
  }

  .news>.LeftCol{
    position: relative;
    width: 430px;
    right: 290px;
  }

}

@media (min-width: 320px) and (max-width: 425px) {
  .main>.LeftCol{
    position: absolute;
    width: 100%;
    text-align: center;
  }

  .main>.LeftCol>h3{
    margin-left: 20px;
  }

  .slider{
    width: 93%;
    left: 30px;
  }

  .news>.LeftCol{
    position: relative;
    width: 300px;
    right: 295px;
  }

  .LeftCol{
    right: 290px;
    width: 305px;
  }

  .LeftCol>.instruction>h5{
    width: 100%;
  }

  .RightCol{
    right: 245px;
    width: 300px;
  }

}
